#search-bar {
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #90c320;
  border-radius: 20px;
  font-size: 22px;
  background-color: white;
  background-image: url("../images/searchicon.png");
  background-position: 15px 15px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-left: 10%;
  margin-top:50px;
}

#greeting {
    text-align: center;
    width: 100%;
}
#recent-searches {
    width:80%;
    margin-left:10%;
}

#features {
    margin-top:20px;
    margin-bottom: 40px;
}
#trips-header div {
    display: inline-block;
}
#search-trip {
    position: relative;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 20px;
    font-size: 17px;
    color: #383838;
}
#search-trip input {
    border: none;
    color: #383838;
    font-size: 22px;
    margin-top: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #383838;
}
#search-trip input:active {
    border: none;
}
.trip-img {
    width: 180px;
    height: 180px;
}



.testimonial-box img {
    display: inline-block;
    width: 90px;
    height:90px;
    border-radius: 50%;
    margin: 0 0 15px;
}
.testimonial-box h4 {
    color: #90c320;
}
.testimonial-box p {
    margin-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    margin-bottom:50px;
}
.ratings-icons {
    color: #fec42d;
    margin-bottom: 15px;
}

.review-img {
    align-self: center;

